
/* ------------------------------------------------------------------------------------------------------------------ */
/* Window Styles                                                                                                      */
/* ------------------------------------------------------------------------------------------------------------------ */



.Window
{
	/* Allows movement of the window to exceed browser region without triggering scroll bars */
	position:fixed;

	/* Clip all contents to the window border */
	overflow: hidden;

	background: #404040;

	border-radius: 5px;
	-moz-border-radius: 5px;

	-webkit-box-shadow: 3px 3px 3px #111, 1px 1px 1px #606060 inset;
	box-shadow: 3px 3px 3px #111, 1px 1px 1px #606060 inset;
}

.Window_Transparent
{
	/* Set transparency changes to fade in/out */
	opacity: 0.5;
	transition: opacity 0.5s ease-out;
	-moz-transition: opacity 0.5s ease-out;
	-webkit-transition: opacity 0.5s ease-out;
}

.Window_Transparent:hover
{
	opacity: 1;
}

.WindowTitleBar
{
	height: 17px;
	cursor: move;

	border-bottom: 1px solid #303030;
	border-radius: 5px;
}

.WindowTitleBarText
{
	color: #BBB;
	font: 9px Verdana;

	padding: 3px;
	cursor: move;
}

.WindowTitleBarClose
{
	color: #999999;
	font: 9px Verdana;

	padding: 3px;
	cursor: default;
}

.WindowBody
{
	/* Turns this node into a "positioned node" so that its children can be placed relative to it */
	position: absolute;

	/* Fill the parent window node */
	width: 100%;
	height: 100%;

	padding:10px;
	border-top: 1px solid #606060;
}



/* ------------------------------------------------------------------------------------------------------------------ */
/* Container Styles                                                                                                   */
/* ------------------------------------------------------------------------------------------------------------------ */



.Container
{
	/* Position relative to the parent window */
	position: absolute;

	background:#2C2C2C;

	border: 1px black solid;

	/* Two inset box shadows to simulate depressing */
	-webkit-box-shadow: -1px -1px 1px #222 inset, 1px 1px 1px #222 inset;
	box-shadow: -1px -1px 1px #222 inset, 1px 1px 1px #222 inset;
}

